.expreience-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  grid-template-rows: auto;
  gap: 1em;
  width: 100%;
}

/* left column */
.experience-left-column {
  grid-column: 1;
}
/* .experience-grid {
  display: grid;
  grid-template-areas:
    "img title"
    "img detail";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
} */

.experience-grid img {
  grid-area: img;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0 0;
}

/* middle */
.experience-middle-column {
  grid-column: 2;
  grid-row: 1 / span 7;
  background-color: black;
  width: 100%;
}

/* right column */
.experience-right-column {
  grid-column: 3;
}