.experience {
  padding: 5em 15em;
}

.dark-mode {
  .label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #1a1a1a;
  }

  .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0px #2b2b2b, 8px 4px 12px 0px #1a1a1a,
      4px 4px 4px 0px #141414 inset, -4px -4px 4px 0px #1b1b1b inset;
  }

  .toggle-state {
    display: none;
  }

  .indicator {
    height: 100%;
    width: 200%;
    background-color: rgb(43, 43, 43);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    /* transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35); */
    box-shadow: -8px -4px 8px 0px #1f1f1f, 8px 4px 12px 0px #1f1f1f;
  }

  .date {
    filter: invert(1) hue-rotate(180deg);
  }
}

.experience-header {
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/* .experience-header h1 {
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.12) 0 6px 20px;
  box-sizing: border-box;
  padding: 0.2em 0.5em;
} */

.experience-header-div {
  min-width: 700px;
  margin-left: 10px;
  overflow: hidden;
  height: 2px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.experience-container {
  display: grid;
  grid-template-columns: 2fr 50px 2fr;
  gap: 16px;
  padding: 16px;
  position: relative;
}

.experience-content p {
  line-height: 35px;
}

.experience-list {
  display: flex;
  flex-direction: column;
}

.experience-grid {
  display: grid;
  grid-template-areas:
    "img title"
    "img date";
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: end;
}

.experience-grid img {
  grid-area: img;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0 0;
}

.experience-item p {
  margin: 0 0;
  line-height: 35px;
}

.job-title {
  grid-area: title;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0;
}

.date {
  grid-area: date;
  font-size: 1em;
  color: #424242;
  margin: 0 0;
}

.vertical-line {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  width: 2px;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  justify-self: center;
}

.experience-detail {
  display: flex;
  flex-direction: column;
  margin: 0 0;
}

.experience-detail p {
  margin: 0 0;
  line-height: 35px;
}

.event-title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 35px;
  margin: 0 0;
}

.hide ol,
h3 {
  display: none;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #313131;
}

.label-text {
  margin-left: 16px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -8px -4px 8px 0px #b4afaa, 8px 4px 12px 0px #979592,
    4px 4px 4px 0px #969390 inset, -4px -4px 4px 0px #b8afa6 inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #b9b2ab;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  /* transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35); */
  box-shadow: -8px -4px 8px 0px #b4afaa, 8px 4px 12px 0px #b4afaa;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.hide-div {
  .event-desc {
    color: transparent;
  }
}
