.experience {
  padding: 3em 10em;
}

.experience-title {
  font-size: 3em;
  margin: 0 0;
  padding: .5em;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  /* margin: 1em; */
}

.experience-grid {
  display: grid;
  grid-template-columns: 2fr 50px 3fr;
  grid-template-rows: auto;
  gap: 3em;
  margin: 3em;
}

/* left column */
.experience-left-column {
  grid-column: 1;
  text-align: right;
  align-items: start;
  font-size: 1.3em;
}

.experience-jobtitle {
  display: grid;
  grid-template-areas:
    "img title"
    "img detail";
  grid-template-columns: 1fr 2fr ;
  grid-template-rows: 1fr;
  justify-items: end;
}

.experience-grid img {
  grid-area: img;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  object-fit: cover;
  margin: 0 0;
}

.job-title {
  margin: 0 0;
}

.date {
  font-size: .8em;
  font-weight: 300;
  color: gray;
  margin: 1em 0;
}

/* middle */
.experience-middle-column {
  grid-column: 2;
  grid-row: 1 / span 5;
  justify-items: center;
}

.vertical-line {
  width: 2px;
  height: 100%;
  background-color: #000000;
}

/* right column */
.experience-right-column {
  grid-column: 3;
  text-align: left;
  align-items: start;
  font-size: 1.3em;
}

.event-title {
  margin: 0 0 ;
}

.event-desc {
  font-size: .8em;
  font-weight: 300;
  margin: 1em 0;
}

/* darkmode */
.experience-dark-mode {
  padding: 1em 10em;
  margin: 0 0;
  background-color: rgb(27, 27, 27);
  color: white;
}

.experience-dark-mode .horizontal-line {
  background-color: white;
}

.experience-dark-mode .vertical-line {
  background-color: white;
}

/* Media queries */
@media (max-width: 1200px) {
  .experience {
    padding: 1em 5em;
  }

  .experience-title {
    font-size: 2em;
  }

  .experience-grid {
    grid-template-columns: 1fr 30px 2fr;
    gap: 2em;
    margin: 2em;
  }

  .experience-left-column,
  .experience-right-column {
    font-size: 1.1em;
  }
}

@media (max-width: 800px) {
  .experience {
    padding: 1em 2em;
  }

  .experience-title {
    font-size: 2em;
  }

  .experience-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;
    margin: 1em;
  }

  .experience-left-column,
  .experience-right-column {
    text-align: center;
    font-size: 1em;
  }

  .experience-jobtitle {
    grid-template-areas:
      "img"
      "title"
      "detail";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
  }

  .experience-grid img {
    width: 50px;
    height: 50px;
  }

  .experience-middle-column {
    display: none;
  }

  .vertical-line {
    display: none;
  }
}