/* intro */

.intro {
  position: relative;
  justify-items: center;
  align-items: center;
  padding: 7em 15em;
}

.intro-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 7em;
}

.left-column {
  grid-column: 1;
  justify-items: start;
}

.right-column {
  grid-column: 2;
  grid-row: 1 / span 4;
}

.intro-main {
  font-size: 4em;
  font-weight: 500;
  margin: 0 0;
}

.intro-sub {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0 0;
}

.intro-email {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 80%;
  justify-items: stretch;
  align-items: center;
  background-color: white;
  border-radius: 50px;
}

.email {
  color: rgb(151, 151, 151);
  padding: 1em;
  margin-left: 1em;
}

.email-button {
  text-align: center;
  padding: 0.5em;
  margin: 0.5em;
  color: rgb(75, 31, 31);
  background-color: transparent;
  border: rgb(75, 31, 31) 3px solid;
  border-radius: 50px;
  text-decoration: none;
}

.intro-img {
  margin: 0 0;
  max-width: 500px;
  z-index: 0;
}

.intro-img-text {
  padding: 0.5em;
  font-weight: 300;
  color: rgb(95, 95, 95);
}

/* dark mode */
.intro-dark-mode {
  background-color: rgb(27, 27, 27);
  color: white;
  padding: 7em 15em;
}

.intro-dark-mode .intro-img-text {
  color: rgb(151, 151, 151);
}


.intro-dark-mode .intro-email {
  background-color: rgb(122, 122, 122);
}

.intro-dark-mode .email {
  color: rgb(231, 231, 231);
}

.intro-dark-mode .email-button {
  color: rgb(255, 241, 212);
  border: rgb(255, 241, 212) 3px solid;
}