/* intro */

.intro {
  text-align: center;
  position: relative;
  display: grid;
  width: min-content;
  height: fit-content;
  margin: 0 auto;
  /* margin-top: 10em; */
  justify-items: center;
  isolation: isolate;
}

.intro__img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  /* grid-area: img; */
  max-width: 500px;
  position: relative;
  z-index: 0;
  border-radius: 100%;
}

.section__title {
  width: 100%;
  /* margin: 1.5em; */
  /* padding: 1em; */
  mix-blend-mode: overlay;
}

.section__title--intro {
  position: absolute;
  z-index: 1;
  font-weight: 300;
  font-size: 5em;
  width: max-content;
  margin: 2em 0;
  filter:invert(.3);
  display: none;
}

.section__title--name {
  /* position: absolute; */
  z-index: 1;
  font-weight: var(--fw-bold);
  font-size: 11em;
  width: max-content;
  margin: 0 0;
}

.intro__text {
  position: absolute;
  text-align: center;
}

.intro__div {
  width: 700px;
  height: 2px;
  margin: auto;
  width: 50%;
  border-radius: 20px;
  margin-top: 5em;
  margin-bottom: 5em;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 3px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  /* color: black; */
}
