.projects {
  padding: 0 10em;
}

.project-title {
  padding: 2em 0 0 0;
}

.projects-container {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../img/laptop-background.png");
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  border-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 2em;
}

.project-item-container {
  padding: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-item {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
  height: 300px;
}
