.projects-dark-mode {
  height: max(100dvh, 100%);
  padding: 1em 5em;
}

.projects {
  padding: 1em 5em;
}

.project-title {
  font-size: 3em;
  padding: .5em;
  margin: 0 0;
}

.project-title p {
  margin: 0 0;
  padding: 0.5em;
  font-weight: 500;
}

.projects-container {
  margin: 1em 1.5em;
  border: 2px solid black;
  border-radius: 20px;
}

.project-item-container {
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.project-item {
  color: black;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.project-item p {
  margin: 0 0;
}

.project-item-img {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  padding: 1rem;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;
}

.project-item-img p {
  margin: 0;
  font-weight: 300;
}

.project-item-img h3 {
  padding-right: 1rem;
}

.project-item-title {
  font-size: 2em;
  font-weight: 400 !important;
  margin: 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* dark mode */
.projects-dark-mode {
  background-color: rgb(27, 27, 27);
  color: white;
}

.projects-dark-mode .projects-container {
  border: 2px solid white;
}

.projects-dark-mode .project-title {
  padding: .5em;
  margin: 0 0;
}

.projects-dark-mode .horizontal-line {
  background-color: white;
}

.projects-dark-mode .project-item {
  color: white;
}

.projects-dark-mode .project-item-img img{
  filter: invert(1);
}

@media (max-width: 1200px) {
  .project-item-container {
    padding: 2em;
  }

  .project-item-img {
    gap: 1em;
  }

  .project-title {
    padding: .5em;
    font-size: 2em;
  }
}

@media (max-width: 800px) {
  .projects {
    padding: 1em 2em;
  }

  .projects-container {
    margin: 1em;
  }

  .project-item-container {
    padding: 1em;
  }

  .project-item-img {
    gap: 0.5em;
  }

  .project-item-img p {
    font-size: .8em;
    font-weight: 300;
  }

  .project-item-img h3{
    font-size: 1.3em;
  }

  .project-title {
    padding: 0.5em;
    font-size: 2em;
  }
}
