* {
  box-sizing: border-box;
}

.skills-container {
  padding: 3em 15em;
}

.skills-title {
  font-size: 3em;
  font-weight: 500;
  margin: 0 0;
}

.skills-list-item {
  font-size: 1.3em;
  font-weight: 300;
  padding: .5em;
  margin: 0 0;
}

.skills-dark-mode {
  background-color: rgb(27, 27, 27);
  color: white;
}

.skills-dark-mode .horizontal-line {
  background-color: white;
}

@media (max-width: 800px) {

  .skills {
    max-width: 100%;
    
  }
  .skills-container {
    padding: 1em 3em;
    max-width: 100%;
  }

  .skills-title {
    font-size: 2em;
  }

  .skills-list-item {
    font-size: 1em;
  }
}