@import url("https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,300,500,600;1,300,500,600");

:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Montserrat", monospace;

  --fw-thin: 300;
  --fw-reg: 500;
  --fw-bold: 600;

  --clr-light: #fff;
  --clr-dark: #000000;
  --clr-accent: #e0e0e0;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.2rem;
  --fs-body: 1rem;
}

@media (min-width: 700px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.2rem;
    --fs-body: 1rem;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  background: rgb(238, 219, 158);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2.5em;
  font-weight: var(--fw-bold);
}

h2 {
  font-size: 1.5em;
  font-weight: var(--fw-bold);
}

h3 {
  font-size: 1.2em;
  font-weight: var(--fw-reg);
}

/* Header */

.button-container {
  z-index: 0;
  position: fixed;
  right: 50px;
  top: 17px;
}

.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: none;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1px 0;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15); */
  color: black;
  /* backdrop-filter: blur(5px); */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  display: inline;
  margin: 0 0 0 1.5em;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.nav__title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 5px 15px 0 15px;
}

.contact__img {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
}

/* Dark mode and inverted styles */

.header-dark-mode {
  .contact__img {
    filter: invert(1) hue-rotate(180deg);
  }
  .header-button {
    filter: invert(1) hue-rotate(180deg);
  }
  color: white;
}

.dark-mode {
  color: white;
  background-color: rgb(40, 40, 40);

  .intro__div {
    filter: invert(1) hue-rotate(180deg);
  }
  .slider-button {
    background-color: #181818;
    color: rgb(252, 252, 252);
    filter: invert(1) hue-rotate(180deg);
  }
  .slider-button:hover {
    background: #000000;
    color: rgb(221, 221, 221);
  }
}

.moon,
.sun {
  max-width: 25px;
  max-height: 25px;
  width: auto;
  height: auto;
  display: block;
}

.header-dark-mode .sun {
  display: block;
}

.header-dark-mode .moon {
  display: none;
}

/* Page control button */

.slider-container {
  margin-top: 200px;
  width: 100%;
}

.slider-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.slider-button {
  align-items: center;
  appearance: none;
  background-color: #1d1d1d;
  border-radius: 15px;
  border-style: none;
  box-shadow: rgba(50, 50, 50, 0.2) 0 5px 5px -1px,
    rgba(50, 50, 50, 0.2) 0 5px 15px 0, rgba(50, 50, 50, 0.2) 0 1px 20px 0;
  box-sizing: border-box;
  color: #cecece;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
  will-change: transform, opacity;
  z-index: 0;
}

.slider-button:hover {
  background: #4d4d4d;
  color: #ffffff;
}

.slider-button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

/* PDF viewer */

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 7em 0;
  margin: auto;
}
