@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,282;1,282&family=Oswald:wght@200..700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  background: rgb(221, 221, 221);
  font-family: "Oswald", sans-serif;
  scrollbar-width: none;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
header {
  /* position: fixed; */
  z-index: 1000;
  max-width: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0 0;
  padding: 0 0;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

nav ul {
  list-style: none;
  padding: 0.3em;
  margin: 0 0;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 200;
}

nav ul li {
  display: grid;
  margin: 0 0.7em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

nav ul li a:hover {
  color: rgb(83, 83, 83);
}

.nav-contact {
  padding: 1em 5em;
}

.nav-title {
  display: flex;
  align-items: center;
}

.nav-title a {
  font-weight: 500;
  font-size: 1.7em;
  text-decoration: none;
  color: black;
  margin-left: 0.7em;
  font-weight: 400;
}

.nav-title a:hover {
  color: rgb(83, 83, 83);
}

.nav-img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  margin: 3px 0 0 0;
  padding: 3px;
  border: black 3px solid;
  border-radius: 100%;
  background-color: rgb(221, 221, 221);
}

.contact-img {
  max-width: 22px;
  max-height: 22px;
  width: auto;
  height: auto;
  margin: 3px 0 0 0;
  padding: 0 0;
}

.contact-img:hover {
  filter: contrast(0.5);
}

.moon,
.sun {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  display: block;
  margin: 3px 0 0 30px;
}

.moon:hover,
.sun:hover {
  filter: contrast(0.5);
}

/* Dark mode, header */

.header-dark-mode {
  background-color: rgb(27, 27, 27);
  border: none;
}

.header-dark-mode .nav-contact {
  background-color: rgb(27, 27, 27);
}

.header-dark-mode .nav-title a {
  color: white;
}

.header-dark-mode nav ul li a {
  color: white;
}

.header-dark-mode .contact-link {
  filter: invert(1) hue-rotate(180deg);
}

.header-dark-mode .sun {
  display: block;
}

.header-light-mode .moon {
  display: none;
}

/* responsive  */

@media (max-width: 1200px) {
  nav {
    padding: 0 3em;
  }

  .nav-title a {
    font-size: 1.5em;
  }

  nav ul {
    font-size: 1.1em;
  }

  .nav-img {
    max-width: 60px;
    max-height: 60px;
  }

  .moon,
  .sun {
    max-width: 25px;
    max-height: 25px;
  }
}

@media (max-width: 800px) {
  html {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  nav {
    padding: 0 2em;
    flex-direction: column;
    max-width: 100%;
  }

  nav ul {
    font-size: 1.2em;
    justify-content: center;
    margin-top: 1em;
  }

  .nav-img {
    max-width: 50px;
    max-height: 50px;
  }

  .nav-contact {
    width: max-content;
    align-content: center;
    padding: 0 0;
  }

  .moon,
  .sun {
    max-width: 25px;
    max-height: 25px;
    margin: 0 0;
  }

  .nav-title a {
    font-size: 1.4em;
  }

  .header-button {
    margin: 0 0;
  }
}
