@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,282;1,282&family=Oswald:wght@200..700&display=swap");

html,
body {
  background: rgb(221, 221, 221);
  font-family: "Oswald", sans-serif;
  scrollbar-width: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Header */
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.header-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 0 0;
  padding: 0 0;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

nav ul {
  list-style: none;
  padding: 0.3em;
  margin: 0 0;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 200;
}

nav ul li {
  display: grid;
  margin: 0 0.7em;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 300;
}

.nav-contact {
  margin: 2em;
}

.nav-title {
  display: flex;
  align-items: center;
}

.nav-title a {
  font-weight: 500;
  font-size: 1.7em;
  text-decoration: none;
  color: black;
  margin-left: 0.7em;
  font-weight: 400;
}

.nav-img {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  margin: 3px 0 0 0;
  padding: 3px;
  border: black 3px solid;
  border-radius: 100%;
}

.contact-img {
  max-width: 22px;
  max-height: 22px;
  width: auto;
  height: auto;
  margin: 3px 0 0 0;
  padding: 0 0;
}

.moon,
.sun {
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  display: block;
  margin: 3px 0 0 30px;
}

/* Dark mode and inverted styles */

.header-dark-mode {
  .contact-img, .header-button, .nav-title a, .nav-link {
    filter: invert(1) hue-rotate(180deg);
  }
  .nav-img {
    background-color: rgb(221, 221, 221);;
  }
  background-color: rgb(26, 26, 26);
}

.header-dark-mode .sun {
  display: block;
}

.header-dark-mode .moon {
  display: none;
}

/* PDF viewer */

.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  padding: 7em 0;
  margin: auto;
}
